.handleButton {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    margin: 40px 10px;
    color: rgb(0, 0, 0);
    background: rgb(240, 81, 7);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.handleButton:hover {
    background-color: rgb(23, 102, 247);
    color: rgb(235, 238, 55);
}

.handleButton:after .handleButton:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.handleButton:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid rgb(6, 155, 142);
    border-top: 1px solid rgb(6, 155, 142);
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;

}

.handleButton:after {
    bottom: 0;
    right: 0;
    border-right: 1px solid rgb(6, 155, 142);
    border-bottom: 1px solid rgb(6, 155, 142);
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.handleButton:hover:before,
.handleButton:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.handleButton:hover:before{
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.handleButton:hover:after{
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}