.modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.24);
    position: fixed;
    top: 0;
    left: 0;
}

.modal__content {
    max-width: 600px;
    background-color: rgb(10, 156, 161);
}

.modal__header {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.16);
}

.modal__title {
    margin-right: 20px;
}

.modal__header span:hover {
    cursor: pointer;
    color: white;
}

.modal__nav {
    padding: 20px;
}

.body__text {
    text-indent: 20px;
    text-align: justify;
}