@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.section_container {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section_container .section_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_footer {
    padding: 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.section_footer button {
    margin: 0 10px;
}